# IDE config files should not be committed
.vscode
.idea

.ipynb_checkpoints

*.pyc
*.so
*.dll

*.db
*.TMP
*.html
*.csv
*.csv#

*.jpg
*.jpeg
*.png
*.ppm
*.tif
*.tiff
*.gif
*.gz
*.ini

!results/**/*.png
!results/**/*.jpg
!results/**/*.jpeg

!data/aria/*.csv

*.pkl
*.pickle

*.RDS
*.Rhistory

# saved models
*.pth
# logs
runs/

# Test set inference results
*_predictions/